*{
  color:#fff;
}

.white{
  background-color: #fff;
}

.black{
  background-color: #333;
}

.App {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  cursor: default;
  background: linear-gradient(to bottom, transparent, 50%, #fff), url("http://localhost:3000/images/hero2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.vertical-line{
  height: 100%;
  width: 2px;
}

li{
  text-decoration: none;
  list-style: none;
}

@media screen and (min-width:768px){
  .App{
    background-size: cover;
  }
}

@media screen and (min-width:1200px){
  .App{
    background-size: cover;
  }
}


