*{
  color:#fff;
}

.App {
  position: relative;
  margin: 0;
  padding-bottom: 120px;
  overflow-x: hidden;
  cursor: default;
  background: linear-gradient(to bottom, transparent, 50%, #fff), url("http://localhost:3000/images/hero2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (min-width:768px){
  .App{
    background-size: cover;
  }
}

@media screen and (min-width:1200px){
  .App{
    padding-bottom: 100px;
    background-size: cover;
  }
}


