.sidebar{
    padding: 0 32px;
    display: none;
  }

.sidebar .sidebar-content{  
    display: flex;
    justify-content: center;
}

/*ipad Pro*/
@media screen and (min-width:1024px){
  .sidebar{
    display: block;
  }
}
  