#audio-player{
    display: flex;
    width: 100vw;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    z-index: 10000;
    cursor: pointer;
    background-color: rgba(30,30,30,1);
    border-top: 1px solid #333;
    padding: 0 10%;
}

audio{
    color: #fff;
}

@media screen and (min-width:768px){
    #audio-player{
        flex-direction: row;
        width: calc(100% - 32px);
        align-items: center;
    }

    audio{        
        width: 40%;
    }
    
    .audio-details{
        width: 40%;
    }
}

