
.playlist-view{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    bottom: 0;
    margin-bottom: 24px;
}

.playlist-view:hover .podcast-play p,
.playlist-view:hover .podcast-play i{
    color: darkorange;
}

.podcast-play p, 
.podcast-play i{
    color: #333;
    display: inline;
    font-weight: 400;
}

/*Galaxy S5*/
@media screen and (min-width:360px){  

    
}

/*iphone 6/7/8 */
@media screen and (min-width:372px){
    

    
}

/*pixel 2XL, iPhone 6/7/8 plus*/
@media screen and (min-width:400px){
   

    
}

/*ipad*/
@media screen and (min-width:768px){
  
    
   
}

/*ipad Pro*/
@media screen and (min-width:1024px){
   
    
}

@media screen and (min-width:1200px){
   

    
}

/*hidpi laptops*/
@media screen and (min-width:1400px){
  
   
    
}
