.single-podcast{
    height: 300px;
    display: grid;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin: 1px;
}

.filter{
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: background-color .5s;
}

.image-view{
    position: relative;
    overflow: hidden;
}

.single-podcast .image-view img{   
    max-width: 100%;
    transition: transform .5s;
}

.podcast-text{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 90%;
    margin: 16px 0 0 16px;
}    

.podcast-play{
    font-size: 1.2em;
    margin: 16px;
    background: none;
    bottom: 0;
}

.podcast-text > h2{
    padding: 0;
}

.podcast-horizontal-line{
    background-color: #fff;
    width: 32px;
    height: 4px;
    transition: .2s;
}

.single-podcast:hover .image-view .podcast-horizontal-line{
    width: 60px;
}

.podcast-details{  
    position: absolute;
    z-index: 1;  
    display: flex;
    flex-direction: column;
}

.podcast-vertical-widget{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 3fr;
    height: 90%;    
    width: auto;
    position: absolute;
    z-index: 100;
    right: 0;
    justify-items: center;
    align-items: center;
    font-size: 12px;
}

.podcast-vertical-text{
    writing-mode: sideways-lr;
    padding: 0;
    margin: 0;
}

.social-links{
    display: flex;
    flex-direction: column;
}

.social-links > i {
    margin: 8px;
}

.social-links > i:hover{
    color: yellow;
}

.vertical-line{
    height: 100%;
    width: 2px;
    background-color: white;
}

/*Galaxy S5*/
@media screen and (min-width:360px){
    .single-podcast{
        height: 340px;
    }

    
}

/*iphone 6/7/8 */
@media screen and (min-width:372px){
    .single-podcast{
        height: 358px;
    }

    
}

/*pixel 2XL, iPhone 6/7/8 plus*/
@media screen and (min-width:400px){
    .single-podcast{
        height: 395px;
    }

    
}

/*ipad*/
@media screen and (min-width:768px){
    .single-podcast{
        height: 370px;
    }
    
    
}

/*ipad Pro*/
@media screen and (min-width:1024px){
    .single-podcast{
        height: 490px;
    }
    
}

@media screen and (min-width:1200px){
    .single-podcast{
        height: 286px;
    }

    .single-podcast:hover .image-view img{
        transform: scale(1.2);
    }

    .single-podcast:hover .filter{
        background-color: rgba(0, 0, 0, 0);
    }

    
}

/*hidpi laptops*/
@media screen and (min-width:1400px){
    .single-podcast{
        height: 352px;
    }
}
