.single-podcast{
    height: 350px;
    margin: 1px;
    display: grid;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.filter{
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: background-color .5s;
}

.image-view{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.single-podcast .image-view img{ 
    transition: transform .5s;
    height: 350px;
    min-width: 100%;
}

.podcast-text{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 90%;
    margin: 16px 0 0 16px;
}    


.podcast-text > h2{
    padding: 0;
}

.podcast-horizontal-line{
    width: 32px;
    transition: .2s;
}

.single-podcast:hover .image-view .podcast-horizontal-line{
    width: 60px;
}

.podcast-details{  
    position: absolute;
    z-index: 1;  
    display: flex;
    flex-direction: column;
}

.podcast-vertical-widget{
    display: grid;
    grid-template-rows:  1fr;
    height: 70%;    
    width: auto;
    position: absolute;
    z-index: 100;
    right: 0;
    justify-items: center;
    align-items: center;
    font-size: 12px;
}

.podcast-vertical-text{
    writing-mode: sideways-lr;
    padding: 0;
    margin: 0;
}
.podcast-vertical-text,
.podcast-vertical-widget > .vertical-line{
    display: none;
}

.social-links{
    display: flex;
    flex-direction: column;
}

.social-links > i {
    margin: 6px;
    font-size: .9em;
}

.social-links > i:hover{
    color: yellow;
}



/*Galaxy S5*/
@media screen and (min-width:360px){
    .single-podcast{
        height: 380px;
    }

    .single-podcast .image-view img{   
        height: 380px;
    }

    
}

/*iphone 6/7/8 */
@media screen and (min-width:372px){
    .single-podcast{
        height: 388px;
    }

    .single-podcast .image-view img{   
        height: 388px;
    }

    
}

/*pixel 2XL, iPhone 6/7/8 plus*/
@media screen and (min-width:400px){
    .single-podcast{
        height: 460px;
    }

    .single-podcast .image-view img{   
        height: 460px;
    }

    
}

/*ipad*/
@media screen and (min-width:768px){
    .single-podcast{
        height: 360px;
    }

    .single-podcast .image-view img{   
        height: 360px;
    }        
}

/*ipad Pro*/
@media screen and (min-width:1024px){
    .single-podcast{
        height: 240px;
    }
    .podcast-vertical-widget{}

    .single-podcast .image-view img{   
        height: 240px;
    }
    
}

@media screen and (min-width:1200px){
    .single-podcast{
        height: 220px;
    }

    .single-podcast .image-view img{   
        height: 220px;
    }

    .single-podcast:hover .image-view img{
        transform: scale(1.2);
         
    }

    .single-podcast:hover .filter{
        background-color: rgba(0, 0, 0, 0);
    } 
    
    .podcast-text{
        margin: 16px 0 0 8px;
    }
    
    .podcast-text > h4{
        font-size: .8em;
    }
    .podcast-text > h5{
        font-size: .7em;
    }
    
    
    
}

/*hidpi laptops*/
@media screen and (min-width:1400px){
    .single-podcast{
        height: 260px;
    }
    
    .single-podcast .image-view img{   
        height: 260px;
    }
    
    .podcast-vertical-widget{
        grid-template-rows: 2fr 1fr 1fr 3fr;
        height: 90%; 
        font-size: 12px;
    }

    .podcast-vertical-text,
    .podcast-vertical-widget > .vertical-line{
        display: inline;
    }

    .social-links > i {
        margin: 8px;
        font-size: 1em;
    }
}

/*monitors*/
@media screen and (min-width:1500px){
    .single-podcast{
        height: 270px;
    }
    
    .single-podcast .image-view img{   
        height: 270px;
    }
}