.main-menu{
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 1000000;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding:0;
    background-color: #202020;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
}

.menu-items{
    display: none;
}

.menu-logo{
    font-size: .6em;
}

.menu-logo > a{
    text-decoration: none;
}

.menu-logo h1{
    margin: 0;
}

.menu-items li a{
    font-size: .85em;
}

.podcast-grid-horizontal-line{
    background-color: #fff;
    margin-left: 32px;
    width: 68px;
    height: 4px;
}

@media screen and (min-width:480px){

}
@media screen and (min-width:600px){

}

/*ipad*/
@media screen and (min-width:768px){
    .main-menu{
        display: flex;
    }  
   
    .menu-items{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        position: relative;
    }

    .menu-items > li{
        padding-left: 40px;
        text-decoration: none;
    }

    .menu-items > li > a{
        text-decoration: none;
    }
}

@media screen and (min-width:900px){

}

/*ipad Pro*/
@media screen and (min-width:1024px){
    .main-menu{
        height: 40px;
    }  
}

/*laptops*/
@media screen and (min-width:1200px){
    .main-menu{
        height: 40px;
    }
        
    
}

@media screen and (min-width:1400px){

}

@media screen and (min-width:1500px){

}

@media screen and (min-width:1600px){
    .main-menu{
        height: 60px;
    }

    .menu-logo{
        font-size: .7em;
    }

}